<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<body>
    <h2>Your Reading List</h2>
    <div th:unless="${#lists.isEmpty(books)}">
        <dl th:each="book : ${books}">
            <dt class="bookHeadline">
                <span th:text="${book.title}">Title</span> by
                <span th:text="${book.author}">Author</span>
                (ISBN: <span th:text="${book.isbn}">ISBN</span>)
            </dt>
            <dd class="bookDescription">
                <span th:if="${book.description}" th:text=""${book.description}>Description</span>
                <span th:if="${book.description eq null}">No description available</span>
            </dd>
        </dl>
    </div>
</body>
</html>